.wrapper{
  width: 40%;
  margin: 0 auto;
  height: 100%
}
.content{
  float: left;
  width: 100%;
  height: 265px;
  background-color: #afeeee;
  font-family: 'Calibri';
  font-size: 15pt;
  text-align: center;
  color: black
}

.scam-content{
  float: left;
  width: 100%;
  height: 100px;
  background-color: #f5b942;
  font-family: 'Comic Sans MS';
  font-size: 15pt;
  text-align: center;
  color: black
}

.header{
   float: left;
   width: 100%;
   height: 50px;
   background-color: #2971ad;
   font-family: 'Calibri';
   font-size: 30pt;
   text-align: center;
   font-weight: bold;
   color: white
 }
 
 .scam-header{
   float: left;
   width: 100%;
   height: 50px;
   background-color: #f54842;
   font-family: 'Comic Sans MS';
   font-size: 30pt;
   text-align: center;
   font-weight: bold;
   color: white
 }
 
.main{
  float: left;
  background-color: #afeeee;
  width: 100%;
  height: 95%;
}
.component{
  float: left;
  width: 33%;
  height: 30%;
  text-align: center;
}
.subtitle{
  font-size: 15pt;
  font-weight: bold;
}
.table-display{
  align-self: center;
  overflow-y:scroll;
  height:100%;
  display:block;
  align-content: center;
  align-self: center;
  text-align: center;
}
.button {
  color: white;
  background-color: rgb(57, 140, 235);
  border: 2px solid #134772;
  border-radius: 6px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
}
.red_button {
  color: white;
  background-color: rgb(255, 92, 51);
  border: 2px solid #ff1a1a;
  border-radius: 6px;
  padding: 20px;
  font-family: 'Comic Sans MS';
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}
table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
