<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank Application</title>
     <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="wrapper">
	<div class="header">
		PrettySecure Bank
	</div>
	<div class="content">
	<p th:text="'Greetings ' + ${name} + '. Available balance: $' + ${balance}" />
	Favourites
    <form action = "account/transfer" method = "GET">
    	<input type = "hidden" name = "person" value = "Alice">
    	<input type = "hidden" name = "amount" value = "100">
    	
    	<input type = "hidden" name = "${_csrf.parameterName}" value = "${_csrf.token}"/>
    	
    	<button class="button">Transfer $100 to Alice</button>
    </form>
    <form action = "account/transfer" method = "POST" style="padding: 20px">
    Transfer Funds: <br> 
    	<label> Recipient  </label>
    	<input name = "person" type="text" />
    	
    	<label>Amount</label>
    	<input name="amount" type="number" />
    	
    	<input type = "hidden" name = "${_csrf.parameterName}" value = "${_csrf.token}"/>
    	
    	<input type="submit" class="button">
    </form>
    
    <form action="/">
    
   		<input type = "hidden" name = "${_csrf.parameterName}" value = "${_csrf.token}"/>
   		
        <button name="back" class="button">Home</button>
    </form>
    </div>
</div>
</body>
</html>