<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank Application</title>
</head>
<body>
	<p th:text="'Current Bank Members'" />
   	<table>
   		<tr>
   			<th>Name</th>
   			<th>Balance</th>
   		</tr>
   		<tr>
   			<td><p th:text="${aname}"/></td>
   			<td><p th:text="${abalance}"/></td>
   		</tr>
   		<tr>
   			<td><p th:text="${bobname}"/></td>
   			<td><p th:text="${bobbalance}"/></td>
   		</tr>
   		<tr>
   			<td><p th:text="${alicename}"/></td>
   			<td><p th:text="${alicebalance}"/></td>
   		</tr>
   		<tr>
   			<td><p th:text="${attackname}"/></td>
   			<td><p th:text="${attackbalance}"/></td>
   		</tr>
   	</table>
   	<form action="/">
   	
   	<input type = "hidden" name = "${_csrf.parameterName}" value = "${_csrf.token}"/>
        <button name="back">Home</button>
    </form>
</body>
</html>